@page
@model CheckSPNs.Client.Areas.Admin.Pages.Remote.IndexModel
@{
    ViewData["Title"] = "Admin Remote";
}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        @if (Model.SystemStats is not null) {
        <div class="row">

            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.SystemStats.TotalPhoneNumbers</h3>
                        <p>Phone Numbers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-call"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> *@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.SystemStats.TotalReport</h3>
                        <p>Reports</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-alert-circled"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> *@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.SystemStats.TotalViews</h3>
                        <p>Views</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-eye"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> *@
                </div>
            </div>
            <!-- ./col -->
        </div>
        }
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">


                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Online Store Visitors</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <canvas id="visitors-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="fas fa-square text-primary"></i> This Week
                            </span>

                            <span>
                                <i class="fas fa-square text-gray"></i> Last Week
                            </span>
                        </div>
                    </div>
                </div>

                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Top Report Phone Number</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Phone Number</th>
                                        <th>Date Added</th>
                                        <th>Report</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ListViewPhoneNumber is not null)
                                    {
                                        foreach (var item in Model.ListViewPhoneNumber)
                                        {
                                            <tr>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.DateAdded.ToString("dd/MM/yyyy")</td>
                                                <td>@item.TimesReported</td>
                                                <td>@item.OverallReportStatus</td>
                                            </tr>
                                        }    
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.Left col -->

            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Phone Number Status Stat
                        </h3>
                        @* <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#phonenumber-status-chart" data-toggle="tab">Donut</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#revenue-chart" data-toggle="tab">Area</a>
                                </li>

                            </ul>
                        </div> *@
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0">

                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="phonenumber-status-chart" style="position: relative; height: 300px;">
                                <canvas id="phonenumber-status-chart-canvas" height="300" style="height: 300px;"></canvas>
                            </div>

                            <div class="chart tab-pane" id="revenue-chart"
                                 style="position: relative; height: 300px;">
                                <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                            </div>

                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- solid sales graph -->
                <div class="card bg-gradient-info">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-th mr-1"></i>
                            Report Stat
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn bg-info btn-sm daterange" title="Date range">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                            <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                    @* <div class="card-footer bg-transparent">
                    <div class="row">
                    <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="false" value="100" data-width="60" data-height="60"
                    data-fgColor="#39CCCC">

                    <div class="text-white">Mail-Orders</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="false" value="50" data-width="60" data-height="60"
                    data-fgColor="#39CCCC">

                    <div class="text-white">Online</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="false" value="30" data-width="60" data-height="60"
                    data-fgColor="#39CCCC">

                    <div class="text-white">In-Store</div>
                    </div>
                    <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    </div>
                    <!-- /.card-footer --> *@
                </div>
                <!-- /.card -->


            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<script>
    var phoneNumberStatPercent = [];

    phoneNumberStatPercent.push(@Model.PhoneNumberStats.Negative);
    phoneNumberStatPercent.push(@Model.PhoneNumberStats.Positive);
    phoneNumberStatPercent.push(@Model.PhoneNumberStats.Neutral);
</script>