@page
@model CheckSPNs.Client.Areas.Admin.Pages.Report.IndexModel
@{
    ViewData["Title"] = "Manage Report";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:150px">Date Report</th>
                                            <th>Comment</th>
                                            <th style="width:200px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var report in Model.ListReport.items)
                                        {
                                            <tr>
                                                <td style="width:150px">@report.ReportDate.ToString("dd/MM/yyyy")</td>
                                                <td>@report.Comment</td>
                                                <td style="width:200px">

                                                    <button type="button" class="btn btn-sm btn-info" data-id="@report.Id" data-toggle="modal" data-target="#modal-edit">
                                                        <i class="fas fa-pencil-alt"></i> Edit
                                                    </button>

                                                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@report.Id">
                                                        <i class="fas fa-trash"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="width:150px">Date Report</th>
                                            <th>Comment</th>
                                            <th style="width:200px">Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                    Showing @(((Model.ListReport.pageIndex - 1) * Model.ListReport.pageSize) + 1) to
                                    @Math.Min(Model.ListReport.pageIndex * Model.ListReport.pageSize, Model.ListReport.totalCount)
                                    of @Model.ListReport.totalCount entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                @if (Model.ListReport.totalCount > 0)
                                {
                                    <div class="paging_simple_numbers">
                                        <ul class="pagination justify-content-end">
                                            <li class="paginate_button page-item @(Model.ListReport.hasPreviousPage ? "" : "disabled")">
                                                <a class="page-link" href="?pageIndex=@(Model.ListReport.pageIndex - 1)&pageSize=@Model.ListReport.pageSize">Previous</a>
                                            </li>

                                            @for (int i = 1; i <= Math.Ceiling((double)Model.ListReport.totalCount / Model.ListReport.pageSize); i++)
                                            {
                                                <li class="paginate_button page-item @(Model.ListReport.pageIndex == i ? "active" : "")">
                                                    <a class="page-link" href="?pageIndex=@i&pageSize=@Model.ListReport.pageSize">@i</a>
                                                </li>
                                            }

                                            <li class="paginate_button page-item @(Model.ListReport.hasNextPage ? "" : "disabled")">
                                                <a class="page-link" href="?pageIndex=@(Model.ListReport.pageIndex + 1)&pageSize=@Model.ListReport.pageSize">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px 1rem;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="edit-input-number" class="form-control" type="text" placeholder="Enter Number" />
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-primary">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $('#modal-edit').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var number = button.data('number');
        var id = button.data('id');
        var modal = $(this);
        modal.find('#edit-input-number').val(number);
        $(this).find('.btn-primary').attr('data-id', id);
    });

    $('#modal-edit').on('click', '.btn-primary', function () {
        var id = $(this).data('id');
        var number = $('#edit-input-number').val();
        console.log(id);
        console.log(number);

        $.ajax({
            url: 'https://localhost:5000/api/PhoneNumbers',
            type: 'PUT',
            headers: {
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                id: id,
                phoneNumber: number
            }),
            success: function (result) {
                window.location.reload();
            },
            error: function (error) {
                alert(error);
            }
        });
    });
</script>