@page "/phonenumber/{number}"
@model CheckSPNs.Client.Pages.PhoneNumber.IndexModel
@{
    ViewData["Title"] = "Số Điện Thoại " + @Request.RouteValues["number"];
}


<!-- Main Section -->
<div class="main-section container">
    <div class="main-card-body">
        <div class="search-content">
            <h2>Số điện thoại <b>@this.Request.RouteValues["number"]</b> có thông tin </h2>

            @if (Model.phoneNumbers != null) {
                <p>
                Ngày báo cáo: <b>@Model.phoneNumbers.DateAdded</b>
                @if(Model.phoneNumbers.Reports.FirstOrDefault() is not null){
                    @Html.Raw("- Mới nhất: <b>" + @Model.phoneNumbers.Reports.FirstOrDefault().ReportDate + "</b>")
                }
                - Lượt xem: <b>@Model.phoneNumbers.Views</b>
                - Lần báo cáo: <b>@Model.phoneNumbers.TimesReported +</b>
                </p>
                <span class="result-text">
                    @if (Model.phoneNumbers.OverallReportStatus == "Neutral")
                    {
                        <span class="alert-warning rate-alert">Không xác định</span>
                    }
                    @if (Model.phoneNumbers.OverallReportStatus == "Negative")
                    {
                        <span class="alert-danger rate-alert">Tiêu cực</span>
                    }
                    @if (Model.phoneNumbers.OverallReportStatus == "Positive")
                    {
                        <span class="alert-success rate-alert">Tích cực</span>
                    }
                </span>
            }
            <form action="" method="POST">
                <div class="report-content">
                    Bạn đang bị số <a href="#">@this.Request.RouteValues["number"]</a> gọi đến mà chưa biết là ai? <br>
                    Vui lòng xem các thông tin nội dung phản ánh và báo cáo dưới đây.
                    <br>
                    Đồng thời nếu bạn biết số thuê bao <a href="#">@this.Request.RouteValues["number"]</a>
                    là ai hoặc cung cấp thông tin để báo cáo phản ánh để mọi người cùng đề phòng lừa đảo nhé !
                    <br><br>
                    <div>

                        @if (Model.listTypeOfReports != null)
                        {
                            @foreach (var typeOfReport in Model.listTypeOfReports)
                            {
                                <input asp-for="addNewReport.TypeOfReport" type="radio" value="@typeOfReport.Id" class="input-type-of-report" />
                                <label asp-for="addNewReport.TypeOfReport">@typeOfReport.TypeOfReport</label>
                            }
                        }

                        <br><br>

                        <textarea required class="textarea-report-comment" asp-for="addNewReport.Comment" placeholder="Nội dung báo cáo - phản ánh số điện thoại @this.Request.RouteValues["number"]"></textarea>

                    </div>
                </div>
                <span asp-validation-for="addNewReport.Comment" class="text-danger"></span>
                <div class="report-submit">
                    <button type="submit" name="btnSearch" class="btn-search">
                        Gửi báo cáo số này
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>

<div class="main-section container">
    <div class="main-card-body vote-body">

        <div class="vote-content">
            <a id="btn-negative" data-value="1" class="btn btn-danger">
                Tiêu cực: <span class="negative-value report-value">@if (Model.phoneNumbers != null) {
                    @Model.phoneNumbers.NegativeReportsCount}else{@Html.Raw(0)}</span>
            </a>
            <a id="btn-positive" data-value="0" class="btn btn-success">
                Tích cực: <span class="positive-value report-value">
                    @if (Model.phoneNumbers != null)
                    {
                        @Model.phoneNumbers.PositiveReportsCount
                    }
                    else
                    {
                        @Html.Raw(0)
                    }</span>
            </a>
            @* <a id="btn-other" data-value="0" class="btn btn-warning">
                Không chắc: <span class="positive-neutral"> 0</span>
            </a> *@
        </div>

    </div>
</div>

<!-- End Main Section -->

<div class="phonenumber-info-section container">
    <div class="phonenumber-info-wrapper">
        <h1 class="phonenumber-info-header">Nội dung số điện thoại @this.Request.RouteValues["number"] được cập nhật</h1>

        <div class="phonenumber-info-content">
            @if(Model.phoneNumbers != null)
            {
                <table class="report-table">
                <thead>
                    <tr class="table-text-left">
                        <th> Ngày tháng </th>
                        <th> Nội dung </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model.phoneNumbers.Reports)
                    {
                        <tr class="table-text-left">
                            <td class="table-text-left"> @report.ReportDate </td>
                            <td class="table-text-left"> @report.Comment </td>
                        </tr>                            
                    }
                </tbody>
            </table>
                
            }
        </div>
    </div>
</div>